* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
  border: 1px solid black;
  color: rgb(177, 24, 24);
  padding: 0.5rem;
}

.img-logo {
  border: 1px solid black;
  width: 12%;
}

.header-items {
  display: flex;
}

.header-items li {
  padding-top: 0.6rem;
  padding-right: 1rem;
  margin-right: 2rem;
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  gap: 2.5rem;
  padding: 3rem;
  min-height: 82vh;
}

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Modal styling */
.modal-content {
  display: none;
  padding: 4rem;
  max-width: 100%;
  height: auto;
  border: 2px solid black;
  background-color: #fefefe;
  background-color: black;
}

.close {
  color: black;
  font-size: 30px;
  font-weight: 800;
  position: relative;
  left: 48%;
  right: 0;
  top: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  display: block;
  border: 1px solid black;
  padding: 1rem;
}

/* Modal display */
.modal-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(224, 73, 73);
  padding: 1rem 0;
  background-color: aqua;
}

.modal-image {
  border: 1px solid black;
  border-radius: 1rem;
  width: 40%;
  height: 30vh;
  margin-bottom: 1rem;
}

.modal-description {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.modal-header2,
.modal-comments {
  margin-bottom: 1rem;
}

.comment-form {
  margin-top: 1rem;
  display: block;
}
